# Set the default behavior to automatically normalize line endings
* text=auto

# Explicitly declare text files you want to always be normalized and converted to LF
*.js text
*.jsx text
*.ts text
*.tsx text
*.html text
*.php text
*.css text
*.scss text
*.md text
*.json text
*.yml text
*.yaml text

# Denote binary files to avoid converting them
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.zip binary
*.gz binary
*.jar binary
*.exe binary
*.dll binary